#footer {
   position:fixed;
   left:0px;
   bottom:0px;
   height:50px;
   width:100%;
   background-color: black;
   text-align: center;
   padding-top: 1%;
}



#footerText1, #footerText2, #dot {
  color:  white;
  font-size: 18px;
  font-weight: 900;
  text-shadow:
    -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black;
}

#footerText1:hover, #footerText2:hover {
  color: orange;
  text-decoration: none;
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
	#footer {
		height: 50px;
		padding-top: 0.5%;
	}

	#footerText1, #footerText2, #dot {
      font-size: 22px;
    }

}




