#footer {
   position:fixed;
   left:0px;
   bottom:0px;
   height:30px;
   width:100%;
   background-color: black;
   text-align: center;
   padding-top: 0.5%;
}

#footerText1, #footerText2, #footerText3, #dot, #dot2 {
  color:  #2BE99E;
  font-size: 17px;
  font-weight: 900;
  text-shadow:
    -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black;
}

#footerText3, #dot2 {
  display: none;
}

#footerText1:hover, #footerText2:hover {
  color: #FC43AD;
  text-decoration: none;
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
	#footer {
		height: 30px;
    padding-top: 0;
	}

  #footerText3, #dot2 {
      display: inline;
    }

	#footerText1, #footerText2, #footerText3, #dot, #dot2 {
      font-size: 22px;
      margin: 0 10px;
    }

  

}




