#homeCanvas {
	margin-top: 100px;
	color: black;
	overflow-y: scroll;
}

#pic1leg {
	position: fixed;
	left: 5%;
}

.legend {
	color: white !important;
	background-color: rgba(0, 0, 0, 0) !important;
}

.slide, .selected {
	display: inline-block;
	color: white
}


#leg1Text {
  color: white;
  font-family: 'Expletus Sans', Bold;
  text-align: left;
  position: fixed;
  top: 20%;
  font-weight: 999;
  font-size:26px;
  text-shadow:
    -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black;
}

#leg2Text {

  color: white;
  font-size: 12px;
  font-family: 'Expletus Sans', Bold;
  font-weight: 999;
  text-shadow:
    -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black;
}

#leg1subText {
  color: white;
  font-size: 14px;
  font-family: 'Expletus Sans', Bold;
  text-align: left;
  position: fixed;
  top: 58%;
  text-shadow:
    -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black;
}

#bookingButton {
    position: fixed;
    z-index: 99999;
    margin: 1% auto 0;
    top: 33%;
    padding: 6px 14px;
    border: 1px solid white;
    border-radius: 43px;
    background: black;
    color: white;
    font-family: 'Expletus Sans', Bold;
    z-index: 999999;
    margin-bottom: 5%;
    text-shadow:
    -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black;
}

#bookingButton2 {
    z-index: 99999;
    margin: 1% auto 0;
    top: 33%;
    padding: 6px 14px;
    border: 1px solid black;
    border-radius: 43px;
    background-color: rgba(255, 255, 255, 0.2);
    color: black;
    font-family: 'Expletus Sans', Bold;
    z-index: 999999;
    margin-bottom: 5%;
    width: 50%;
    text-shadow:
    -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black;
}

#bookingButton:hover {
	color: #DB4C3F;
	border-color: #DB4C3F;;
	cursor: pointer;
}
#bookingButton2:hover {
  background-color: black;
  color: #DB4C3F;
  border-color: #DB4C3F;;
  cursor: pointer;
}

#bkText {
     font-size: 40px;
     text-shadow:
    -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black;
}

#bkTxt2 {
     font-size: 18px;
     text-shadow:
    -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black;
    color:white;
}

.leg2 {
	position: fixed;
	top: 50%;
	z-index: 9999;
}

#leg2 {
	color: white;
	font-size: 50px;
	text-align: center;
	left: 10%;
}

@media only screen and (min-width: 500px) {
    #leg2Text {
      font-size: 18px;
    }
}	

@media only screen and (min-width: 768px) {

	#homeCanvas {
		margin-top: 130px;
		color: black;
	}

	#leg1Text {
      color: white;
      font-family: 'Expletus Sans', Bold;
      text-align: left;
      font-size: 49px;
      top: 18%
     }

     #leg2Text {
      font-size: 23px;
    }

    #bkTxt2 {
       font-size: 50px;
    }

	#leg1subText {
	  color: white;
	  font-size: 21px;
	  font-family: 'Expletus Sans', Bold;
	  text-align: left;
	  top: 64%;
	}

	#bookingButton {
      top: 180px;
      font-size: 44px;
      padding-top: 1%;
    }

 .slide, .selected {
	height: 500px;
  }

  #underCar {
  	color: black;
  	margin-bottom: 200px;
  }

  #underCarText {
  	color: black;
  }

  #pic2 {
 
  }



}

@media only screen and (min-width: 930px) {
	#leg1Text {
      top: 12%
     }

    #leg1subText {
	  top: 25%;
	}

	#bookingButton {
  	  top: 50%;
  	  font-size: 30px;
    }

}



