#navBarLogo {
  height: 65px;
  max-width: 65px;
  margin-top: 1%;
  left: 0;
  z-index: 99;
  float: left;
}

#logopic {
  margin-top: -40px;
}

#bizName {
  margin-top: 40px;
  width: 300px;
  color: white;
  font-size: 30px;
  margin-left: 4%;
  position: relative;
  z-index: 9999999;
}

#bizName:hover {
  color: #DB4C3F;
}

li {
  list-style: none;
}

/*#navBarLogo:hover {
  -webkit-animation: rotate-center 0.6s ease-in-out both;
          animation: rotate-center 0.6s ease-in-out both;
}
*/

#navLinkText, #navLinkTextfirst, #navLinkTextSecond {
	background-color: black;
}


#navLinkTextfirst:hover, #navLinkTextSecond:hover, #navLinkText:hover {
  color: #DB4C3F;
}

.navbar.navbar-inverse.navbar-fixed-top {
	height: 100px;
	display: inline-block;
}

.navbar-collapse.collapse.in {
  position: relative;
	z-index: 99999999;
}

@media only screen and (min-width: 768px) {
  #navBarLogo {
    height: 150px;
    width: 150px;
	  float: left;
	  margin-top: 2%;
    margin-left: 10px;
  }

  #bizName {
     margin-left: 45px;
     font-size: 35px;
     margin-top:49px;
  }

  .navbar.navbar-inverse.navbar-fixed-top {
    /*	background: rgba(0, 0, 0, 0.6);*/
	  height: 130px;
    background-color: black;
/*    background :url('../images/caliPalms.jpg') no-repeat center center;
*/    
    background-size: 100% 100%;
  }

  #navLinkText {
    background-color: transparent;
  }

  #navLinkTextfirst { 
    display: none;
    background-color: transparent;
  }

  #navLinkTextSecond {
    margin-top: 0px;
    margin-left: 150px;
    z-index: 999;
    overflow: hidden;
    background-color: transparent;
  }


  .nav.navbar-nav {
     font-size: 20px;
     margin-top: 0px;
  }
}

@media only screen and (min-width: 992px) {
  .threeStars {
    margin: 0 auto;
  }

    .nav.navbar-nav {
     font-size: 27px;
  }
}

@media only screen and (min-width: 1200px) {
  .nav.navbar-nav {
    font-size: 29px;
    margin-top: 50px;
  }
}


@-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

