input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
  	font-family: Arial, Helvetica, sans-serif;
    border-radius: 4px 4px 4px 4px;
    display: inline-block;
    font-size: 13px;
    height: 20px;
    line-height: 20px;
    margin-bottom: 1px;
    padding: 1px 3px 1px 3px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2) inset;
}

input[type="date"] {
	width: 80px;
} 

select {
  	font-family: Arial, Helvetica, sans-serif;
    border-radius: 4px 4px 4px 4px;
    display: inline-block;
    font-size: 13px;
    height: 25px;
    width: 215px;
    line-height: 20px;
    padding: 2px 2px 2px 2px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2) inset;
}

select[type="number"] {
	width: 80px;
}

textarea {width: 350px; height: 80px;}

.ccexpmonth {width: 50px;}
.ccexpyear {width: 70px;}

li {margin-left: 15px;}

/*
.ui-datepicker { width: 17em; padding: .2em .2em 0; display: none; font-size:62.5%; }
*/
.ui-datepicker {font-size: 8pt; }

.spinner {
	position: fixed;
	top: 50%;
	left: 50%;
	margin-left: -50px; /* half width of the spinner gif */
	margin-top: -50px; /* half height of the spinner gif */
	text-align:center;
	z-index:1234;
	overflow: auto;
	width: 80px; /* width of the spinner gif */
	height: 80px; /*hight of the spinner gif +2px to fix IE8 issue */
	background-color: rgba(255, 255, 255, 0.95);
    border-radius: 5px 5px 5px 5px;
    border: 1px solid #999999;
	-webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, .4);
	-moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, .4);
	box-shadow: 2px 2px 5px rgba(0, 0, 0, .4);
}


.spinner img {
	margin: 0 auto;
	margin-top: 22px;
}

/********************************************************************************************
 * BC Basic styles
 ********************************************************************************************/

.bc > .pl,
.bc > .pd,
.bc > .pg,
.bc > .cl,
.bc > .ac,
.bc > .co,
.bc > .vc,
.bc > .ci,
.bc > .cp,
.bc > .sp {
	position: relative;
	max-width: 800px;
	margin: 0 auto;
	background: #EEEEEE;
	border: 1px solid #CCCCCC; 
	border-radius: 6px 6px 6px 6px;
	box-shadow: 0 0 5px #cccccc;
	color: #222222;
	text-align: center;
}

.bc p {
	margin-left: 20px;
	margin-right: 20px;
	text-shadow: 0 1px 0 #FFFFFF;
}

.bc > .pd p {
	text-align: left;
}

.bc .cp .termsandconditions {
	left: 20px;
	right: 20px;
	height: 160px;
	background-color: white;
	border-radius: 6px 6px 6px 6px;
	border: 1px solid #aaaaaa;
	-webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, .4);
	-moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, .4);
	box-shadow: 2px 2px 5px rgba(0, 0, 0, .4);
	text-align: left;
	padding: 4px;
	overflow: scroll;
}

.bc .pl h1 select {
	margin-top: 0px;
}

.bc .vspace {
	height: 20px;
}

.bc h1 {
	display: block;
	background: #6FACD5; /* Old browsers */
	background:-moz-linear-gradient(50% 10% -90deg, #6FACD5 0%, #497BAE 100%);
	background:-webkit-gradient(linear,50% 10%,50% 100%,color-stop(0, #6FACD5),color-stop(1, #497BAE));
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#6FACD5', endColorstr='#497BAE');
	color: #ffffff;
	font-size: 14px;
	font-weight: bold;
	line-height: 2.0em;
	padding-left: 10px;
	text-align: left;
	text-shadow: none;
	margin-top: 0;
}

.bc h1 a,
.bc h1 a:hover,
.bc h1 a:active,
.bc h1 a:visited {
	font-weight: normal;
	text-decoration: none;
	color: white;
}

h2 {
	text-align: left;
	font-size: 11pt;
	font-weight: bold;
	line-height: 14pt;
	border-bottom: 1px solid #999999;
}

.pd h2 {
	text-align: left;
	margin-left: 20px;
	margin-right: 20px;
}

.bc img.ui-datepicker-trigger {
	padding-left: 5px;
}

/********************************************************************************************
 * Topmenu
 ********************************************************************************************/

.bc .topmenu {
	display: block;
	position: relative;
	padding: 10px;
}

.bc .topmenu .btn {
	padding: 5px 10px 5px 10px;
	float: right;
	margin-left: 2px;
	margin-right: 2px;
}

.bc .topmenu .backlink {
	position: absolute; 
	top: 10px; 
	left: 10px;
}

.bc .topmenu .cartlink {
	position: absolute;  
	top: 8px;
	right: 10px;
	border: 1px solid black;
}

.bc .topmenu .viewcart {
	padding-left: 30px;
	background-image: url("/assets/media/icons/shoppingcart.png"); 
	background-repeat: no-repeat;
	background-position: 2px 2px;
}

.bc .topmenu .viewproducts,
.bc .topmenu .viewgiftcards {
	float: left;
}

.bc .topmenu .cartlink .imgx {
	position: absolute;
	left: -25px;
	background-image: url("/assets/media/icons/shoppingcart.png");
	width: 25px;
	height: 25px;
}

/********************************************************************************************
 * Categorylist
 ********************************************************************************************/


.bc > .cl {
	text-align: left;
	margin-left: 20px;
	margin: 0 auto;
	display: inline-block;
	min-height: 300px;
}

.bc > .cl ul {}

/********************************************************************************************
 * ProductList
 ********************************************************************************************/

/* productlist is the container for the product list */
.plist {
	text-align: left;
	width: 100%;
}

/* pItem is the container for a single product item */
.plist .item {
	border-top: 1px solid #9f9f9f;
	position: relative;
	display: block;
	width: 100%;
	height: 140px;
	border-top: 1px solid #cccccc;
}

.plist .item .idesc {
	position: absolute;
	top: 0;
	left: 0;
	right: 270px;
	width: auto;
	height: 140px;
	overflow: hidden;
}

.plist .item .idesc * {
	overflow: hidden;
}

.plist .item .idesc > h3 {
	margin-top: 3px;
	margin-bottom: 0;
	font-size: 11pt; 
	font-weight: bold;
	clear: none;
}

.plist .item .idesc > p {
	height: 80px;
	margin-left: 0;
	clear: none;
}

.plist .item .idesc img {
	float: left;
	clear: none;
	background-color: white; 
	display: block;
	padding: 5px; 
	margin: 10px;
	border: 1px solid #B0B0B0;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4),
				inset 0 0 45px rgba(200, 200, 200, 0.4);
	-webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4),
				inset 0 0 45px rgba(200, 200, 200, 0.4);
}

.plist .item h3 {
	line-height: 20px;
	padding: 5px 0 5px 0;
}

.plist .item a,
.plist .item a:hover,
.plist .item a:active,
.plist .item a:visited {
	text-decoration: none;
	color: #333333;
}

.plist .item a:hover {
	text-decoration: underline;
}

/* ppricecol is the container for the product price column */
.plist .item .iprice {
	font-weight: bold;
	position: absolute;
	top: 0;
	right: 0;
	width: 290px;
}

.plist .item .iprice table {
	height: 140px;
	margin: 0 auto;
}

.plist .item .iprice td {
	vertical-align: middle;
	height: 100%;
	width: 100%;
}

.plist .item .pricebar {
	background-color: #497BAE;
	color: white;
	margin: 0;
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	padding-left: 2px;
	padding-right: 2px;
	-webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, .4);
	-moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, .4);
	box-shadow: 2px 2px 5px rgba(0, 0, 0, .4);
}

.plist .item .iprice .pricegroup {
	margin: 3px;
	display: table-cell, table;
}

/* pprice is the container for a single price */
.plist > .item .price {
	vertical-align: left;
	display: table-row;
	padding: 2px 5px 2px 5px; 
	width: 100%;
}

.plist > .item .price:after {
	clear: both;
}

/* Price label is the label for a price, this is typically "Only" or "Weekend" */
.plist > .item .pheader {
	display: table-cell;
	text-align: center; 
	font-size: 9pt; 
	font-weight: 500;
	padding: 2px 5px 2px 5px; 
}

/* priceamount is the amount with currency */
.plist > .item .pamount {
	display: table-cell;
	font-size: 11pt; 
	text-align: right;
	padding: 2px 0px 2px 5px; 
}

/* priceunit is the unit price, typically per person, per night or similar */
.plist > .item .pfooter {
	display: table-cell;
	text-align: left; 
	font-size: 9pt; 
	font-weight: 500;
	padding: 2px 5px 2px 5px; 
}

.plist > .item .pbook {
	vertical-align: middle;
	padding-right: 10px; 
	padding-left: 10px;
	padding-bottom: 5px; 
	text-align: center;
}

.plist > .item .pbook > a {
	color: white;
}


/********************************************************************************************
 * ProductGrid
 ********************************************************************************************/

.productgrid {
	text-align: center;	
	background-color: transparent;
	width: 100%;
	padding-top: 20px;
}

.gc {
	display: table;
	margin: 0 auto;
}

.gc-cell-size {
	width: 0px;
	height: 0px;
}

.gc .product:first-child {border-top-left-radius: 4px;}
.gc .product:last-child {border-bottom-left-radius: 4px; }
.gc .product {color: black; border:1px solid #007F7F;position: absolute;}
.gc .odd {background-color: #dedede;}
.gc .even {background-color: white;}
.gc > .dl {background-color: green; color: black; border: 1px solid blue;}
.gc > .dowline > .dowwd {background-color: #E5E5E5; color: black;border:1px solid #007F7F; position:absolute;text-align: center;}
.gc > .dowline > .dowwe {background-color: #C1C1C1; color: white; font-weight: bold;border:1px solid #007F7F; position:absolute;text-align: center;}
.gc > .dateline > .date  {
	color: black;
	border:1px solid #007F7F; position:absolute;text-align: center; width: 15px;}
.gc > .dateline > .date:first-child {border-top-left-radius: 4px;}
.gc > .dateline > .date:last-child {border-top-right-radius: 4px;}
.gc > .dateline > .datewe {color: black;font-weight: bold;border:1px solid #007F7F; position:absolute;text-align: center;}
.gc > .dateline > .date.we {background-color: #C1C1C1; width: 15px;}
.gc > .dateline > .date.wd {background-color: #F2F2F2; }

.gc > .dateline:first-child {background-color: yellow;}
.gc > .grid > .gridwd {background-color: #E5E5E5; color: blue;border:1px solid #007F7F; position:absolute;text-align: center;overflow: hidden;}
.gc > .grid > .gridwe {background-color: #C1C1C1; color: black; font-weight: bold;border:1px solid #007F7F; position:absolute;text-align: center;overflow: hidden;}
.gc > .reserved {
	background-color: red; 
	color: white; 
	position:absolute;
	text-align: center;
	overflow: hidden;
}
.gc > .available {
	background-color: green; 
	color: white; 
	position:absolute;
	text-align: center;
	overflow: hidden;
	cursor:pointer;
}
.gc span.from {
	display: inline-block;
	font-size: 8pt;
}

.gc .product .thumb {
	position: absolute;
	margin: 3px 5px 2px 3px;
}

.gc .product .name {
	position: absolute;
	margin: 5px;
	overflow: hidden;
	line-height: 23px;
}

.gc .product .name a {
	color: black;
}

.gc .product .thumb img {
	background-color: white; 
	display: block;
	max-width: 100%;
	padding: 3px; 
	sborder: 1px solid #B0B0B0;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4),
				inset 0 0 45px rgba(200, 200, 200, 0.4);
	-webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4),
				inset 0 0 45px rgba(200, 200, 200, 0.4);
}


/********************************************************************************************
 * ProductDetail
 ********************************************************************************************/

.bc .pd {
	text-align: left;
}

.bc .pd ul {
	line-height: 1em;
	margin-left: 20px;
	padding: 0;
}


/********************************************************************************************
 * CartList
 ********************************************************************************************/

.bc > .vc .cartlist {
	text-align: left;
	display: inline-block;
	width: 80%;
	max-width: 600px;
}

.bc > .vc .cartlist .line {
	border-top: 1px solid black;
	display: block;
	width: 100%;
	padding-top: 5px;
	padding-bottom: 5px;
}

.bc > .vc .cartlist .last {
	border-bottom: 1px solid black;
}

.bc > .vc .cartlist .line > .desc {
	position: relative;
	width: 70%;
	display: inline;
	float: left;
}

.bc > .vc .cartlist .line > .price {
	font-weight: bold;
	width: 30%;
	text-align: right;
	display: inline;
	float: left;
}

.bc > .vc .cartlist .removeitem {
	position: absolute;
	right: 0;
	top: 0;
	padding-left: 10px;
	background-color: transparet;
}

.bc > .vc .cartlist .removeitem a {
	display: block;
}

.bc > .vc .cartlist .removeitem i {
	padding-right: 5px;
}

.bc > .vc .cartlist .sumline {
	display: block;
	width: 60%;
	line-height: 1.5em;
	margin-top: 0.2em;
	border-bottom: 1px solid black;
	float: right;
}

.bc > .vc .cartlist .sumline > .desc {
	width: 80%;
	display: inline;
	float: left;
}

.bc > .vc .cartlist .sumline > .price {
	font-weight: bold;
	width: 20%;
	text-align: right;
	display: inline;
	float: left;
}

.customer-information-page {
	text-align: center;	
	background-color: transparent;
	width: 100%;
	padding-top: 20px;
}


.bc .selectschedule {
	padding-top: 20px;
}

.bc .selectnopeople {
	padding-top: 20px;
}

.bc .button-bar {
	text-align: center;
	height: 30px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-bottom: 20px;
	background-color: transparent;	
	background-color: blue;
	background: #6FACD5; /* Old browsers */
	background:-moz-linear-gradient(50% 10% -90deg, #6FACD5 0%, #497BAE 100%);
	background:-webkit-gradient(linear,50% 10%,50% 100%,color-stop(0, #6FACD5),color-stop(1, #497BAE));
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#6FACD5', endColorstr='#497BAE');
	color: #ffffff;
}


.center {
	text-align: center;
}

.control-label {color: #222222;}

.center {
	margin: 0 auto;
	text-align: center;	
}

.control-line {
	display: block;
	text-align: left;
	padding-left: 5px;
}

.control-text {
	display: inline-block;
	text-align: left;
  	font-family: Arial, Helvetica, sans-serif;
    padding-top: 3px;
	padding-left: 5px;
	font-size: 13px;
}

.bc .form-auto {
	display: inline-block;
	margin: 0 auto;
}

.bc .form-auto > .controls {
	display: inline;
	float: left;
	padding-left: 3px;
	padding-right: 3px;
}

.bc .controls label.error {
	display: inline;
	font-size: 8pt;
	line-height: 2.5em;
	color: red;
	padding-left: 5px;
}

.bc .form-auto .control-group {
	display: inline;
	float: left;
	padding-left: 3px;
	padding-right: 3px;
}

table.statusmsg  {
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 10px;
}

.statusmsg * {
	text-align: left;
}

.summary-form {
  width: 400px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid #CDCDCD;
    border-radius: 6px 6px 6px 6px;
  background: white; 
  -webkit-box-shadow: 0px 3px 7px rgba(0,0,0,.3);
     -moz-box-shadow: 0px 3px 7px rgba(0,0,0,.3);
          box-shadow: 0px 3px 7px rgba(0,0,0,.3);
}

.form-horizontal {
	text-align: left;
}

.form-horizontal .control-label {
  	font-family: Arial, Helvetica, sans-serif;
    color: #222222;
    float: left;
    padding-top: 3px;
    padding-right: 5px;
    text-align: right;
    width: 250px;
    font-size: 13px;
}

.form-horizontal label {
  	font-family: Arial, Helvetica, sans-serif;
    color: #222222;
    padding-top: 3px;
    padding-right: 5px;
    font-size: 13px;
}

.form-horizontal .control-group {
    margin-bottom: 6px;
}

.form-horizontal .controls {
    margin-left: 255px;
}

.searchbox {
	width: 250px;
	padding-right: 50px;
	margin: 0 auto;
}

.searchbox .control-label {
	width: 100px;
}

.searchbox .controls {
	margin-left: 110px;
	padding-left: 0px;
}

/*********************************************************************************
* Product Detail Page
**********************************************************************************/

#product_carousel {
	width: 400px; 
	height: 300px; 
	float: right;
	padding-right: 20px;
	padding-top: 40px;
	padding-left: 10px;
}

.galleria-container {
	background-color: white;
  border: 1px solid #cccccc;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
-webkit-box-shadow: 3px 3px 7px rgba(0,0,0,.3);
     -moz-box-shadow: 3px 3px 7px rgba(0,0,0,.3);
          box-shadow: 3px 3px 7px rgba(0,0,0,.3);
}

.galleria-layer {
	width: 380px;
}

.galleria-info {
	left: 47px;
	top: 195px;
	width: 307px;
}

.galleria-info-text {
	color: white;
	opacity:0.4;
	filter:alpha(opacity=40); /* For IE8 and earlier */
}
/*********************************************************************************
* Availability calendar
**********************************************************************************/

.avc {display: inline; color: white; font-size: 8pt; text-align: center;} 
.avc .nomonths1 {width: 100%; max-width: 160px;}
.avc .nomonths2 {width: 100%; max-width: 320px;}
.avc .nomonths3 {width: 100%; max-width: 480px;}
.avc .nomonths4 {width: 100%; max-width: 640px;}
.avc .nomonths5 {width: 100%; max-width: 800px;}
.avc .nomonths6 {width: 100%; max-width: 960px;}
.avc table.month {margin: 5px; border: 1px solid #cccccc; padding: 1px; float: left; text-wrap: none;}
.avc .month {
	position: relative;
	-webkit-box-shadow: 2px 2px 4px rgba(0,0,0,.3);
     -moz-box-shadow: 2px 2px 4px rgba(0,0,0,.3);
          box-shadow: 2px 2px 4px rgba(0,0,0,.3);
}

*.av {background-color: green;}
*.na {background-color: red;}
*.nd {background-color: gray;}


.avc td {padding: 3px; width: 14px; line-height: 15px;border: 1px solid white; text-wrap: none;}
.avc .hdr {background-color: #08396b;}
.avc .dn {color: black; background-color: #cccccc;}
.avc .av {background-color: green; cursor:pointer;}
.avc .av_l {background: url(/website/images/general/cal_av_l.gif) no-repeat; cursor:pointer;}
.avc .av_r {background: url(/website/images/general/cal_av_r.gif) no-repeat; cursor:pointer;}
.avc .bl {background-color: #eeeeee;}
.avc .nd {background-color: gray; }
.avc .na {background-color: red;}

.avcl {margin-top: 10px;}
.avcl .box {
	border: 1px solid #eeeeee; 
	display: inline-block; 
	width: 18px; 
	height: 18px; 
	margin-top: 2px;
	-webkit-box-shadow: 2px 2px 4px rgba(0,0,0,.3);
     -moz-box-shadow: 2px 2px 4px rgba(0,0,0,.3);
          box-shadow: 2px 2px 4px rgba(0,0,0,.3);
}
.avcl span {display: inline-block; font-size: 9pt; margin: 0; padding-left: 2px;  padding-right: 2px; vertical-align: top;margin-top: 2px;}
/*.avc .legend table {margin: 0 auto;}
.avc .legend {margin-top: 5px; color: black;}
.avc .legend td {width: auto; padding: 4px; border: 0;}
*/

/**
 * Hourly Calendar
 */
.hc-container {width: 600px; height: 300px;border:0;margin:0;padding:0;}
.hc-canvas {padding:0;margin:0;border:0; clear: both; position: relative; display: block; width: 100%; height: 100%; overflow: scroll; background-color: #cccccc;}
.hc-time {font-size: 10pt;position:absolute;padding:0;margin:0;border:0;background-color:#eeeeee;color:#7674cb;width:60px;border:1px solid #9593d7;text-align:right;}
.hc-padding {padding:2px 5px 5px 0px;}
.hc-sm {font-size: 8pt;}
.hc-header {position:absolute;padding:0;margin:0;border:0;left:0;top:0;background-color: #08396b;color:white;text-align:center;border: 1px solid white;font-size:8pt;line-height:14px;}
.hc-available {position:absolute;padding:0;margin:0;left:0;top:0;background-color:green;border: 1px solid white;}
.hc-reserved {position:absolute;font-size:10px;overflow:hidden;padding:0;margin:0;border:0;background-color:red;color:white;border-left:1px solid white;border-right:1px solid white;text-align:center;vertical-align: bottom;}
.hc-reserved-top {position:absolute;padding:0;margin:0;border:0;background: url(/website/images/general/hc-top-100-red.gif) no-repeat;}
.hc-reserved-bottom {position:absolute;padding:0;margin:0;border:0;background: url(/website/images/general/hc-bottom-100-red.gif) no-repeat;}
.leg-av {display: inline; margin: 4px; height:10px;width:15px; background-color: green; }
.leg-na {display: inline; margin: 4px;height:10px;width:15px; background-color: red;}
.leg-cl {display: inline; margin: 4px;height:10px;width:15px; background-color: #cccccc;}
.hc-nav td {color: black; background-color: white; font-size: 8pt; padding-top: 5px; padding-left: 4px; padding-bottom: 0; margin-bottom: 0;}

/**
 * Misc
 */
 
.secureinfo {
	padding-top: 15px;
	font-size: 9pt;
	line-height: 1.2em;
}

.secureinfo a, .secureinfo a:visited, 
.secureinfo a:hover, .secureinfo a:active {
	text-decoration: underline;
}


@media (min-width: 801px)
{
	.view-screen {
		black: red;
		display: visible;
	}
	.view-tablet {
		color: black;
		display: none;
	}
	.view-mobile{
		color: black;
		display: none;
	}
}

@media (min-width: 451px) and (max-width: 800px)
{

	.productlist > .item 
	{
		float: left;
		position: relative;
		padding-bottom: 80px;
	}
	
	.productlist > .item > .imgcol {
		float: left;
		display: inline;
	}
	
	.productlist > .item > .pricecol {
		height: auto;
		float: none;
		display: block;
		width: 100%;
		margin: 0 auto;
		position: absolute;
		bottom: 0px;
		padding: 0;
	}
	
	.productlist > .item > .pricecol > .pricebar {
		margin: 0 auto;
	}
	
	
	.productlist > .item > h3 {
		color: blue;
	}
	

	.view-screen {
		color: black;
		display: none;
	}
	.view-tablet {
		color: red;
		display: visible;
	}
	.view-mobile {
		color: black;
		display: none;
	}
}

@media (min-width: 1px) and (max-width: 600px)
{
	.plist .item {
		height: auto;
	}
	
	.plist .item .icol {
		display: block; 
		position: relative;
		width: 100%;
		height: auto;
		background-color: yellow;
	}
	
	.plist .item .idesc {
		display: block;
		position: relative;
		left: 0;
		right: 0;
		width: 100%;
		height: auto;
	}
	
	/* ppricecol is the container for the product price column */
	.plist .item .iprice {
		display: block; 
		position: relative;
		width: 100%;
		height: auto;
	}
	
	.plist .item .pricecol table {
		margin: 0 auto;
	}
	
	#product_carousel {
		width: 300px; 
		height: 245px; 
		float: none;
		margin: 0 auto;
		padding-right: 20px;
		padding-top: 0px;
		padding-left: 10px;
	}

	.galleria-layer {
		width: 280px;
	}

	.galleria-info {
		left: 47px;
		top: 138px;
		width: 200px;
	}

  .form-horizontal .controls {
    margin-left: 5px;
  }
  .form-horizontal .control-list {
    padding-top: 0;
  }
  .form-horizontal .form-actions {
    padding-right: 10px;
    padding-left: 10px;
  }
.form-horizontal .control-label {
	    float: none;
	    width: auto;
	    padding-top: 0;
	    padding-left: 5px;
	    text-align: left;
	  }
	  .modal {
	    top: 10px;
	    right: 10px;
	    left: 10px;
	  }
	  .modal-header .close {
	    padding: 10px;
	    margin: -10px;
	  }

}

#schedulelist {
	max-width: 300px !important;
}
