#ifra {
  width: 100%;
  height: 100%
}

.topmenu > h1 {
  font-size: 400px;
}

#reserveTitle {
    margin-top: 160px;
    margin-bottom: 30px;
    text-align: center;
    font-family: 'Expletus Sans', Bold;
    font-weight: 900;
    font-size: 30px;
}

#contactDetails, #openDate {
  font-size: 12px;
  font-style: italic;
  color: #143E8F !important;
  text-align: center;
  margin: 30px 20px 30px 20px;
}

#openDate {
  font-size: 22px;
  color: #D32C30 !important;
  font-weight: 900;
  text-align: center;
  margin: 30px 20px 30px 10px;
  font-weight: 900;
}



#reserveTitle:hover {
  filter: brightness(75%);
}



#bookingCalendar{
  width: 100%;
  min-height: 500px;
  z-index: 99999999999;
  padding-bottom: 5%;
  margin: 0 auto;
}

#reserveCanvas {
  margin-top: 150px;
  margin-left: 10px;
  margin-right: 10px;


}

@media only screen and (min-width: 768px) {

  #reserveTitle {
    font-size: 52px;
    margin-top: 200px;
  }

  #contactDetails, #openDate {
    font-size: 16px;
    margin: 30px 100px 20px 100px;
  }

  #openDate {
    font-size: 27px;
  }

}





