.abs {
  position: relative;
  margin-top: 15%;
}

.Modal-modal-0-1-3 {
  width:1200px;
  margin-top: 120px;
}

#bigCalendar {
  margin: 0 auto;
  width: 100%;
}

#reserveBody {
  background-color: #2E389C;
}

.topmenu > h1 {
  font-size: 400px;
}

#reserveTitle {
  width: 100%;
  /*color: #ED5E2A;*/
  color: white;
  font-weight: 900;
  font-size: 80px;
  -webkit-animation: text-pop-up-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
          animation: text-pop-up-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  margin-top: 5%;
  text-align: center;
}

#reserveTitle:hover {
  filter: brightness(75%);
}

#bookingCalendar{
  width: 100%;
  min-height: 1000px;
  z-index: 99999999999;
  padding-bottom: 5%;
  margin: 0 auto;
}

svg {
  margin: 0 auto;
}



#closeModalBtn {
  float: right;
  margin: 0 auto 3% auto;
  width: 100%;
  height: 50px;
  text-align: center;
  font-size: 30px;
  padding-bottom: 7%;
}


#reserveCanvas {
 margin-top: 300px;
}

@media only screen and (min-width: 768px) {
  .Modal-modal-0-1-3 {
    margin-top: 200px;
    width: 100%;
  }
}

